{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}

<aside class="sidebar">
  <ul>
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="#">Billing</a></li>
    <li><a href="#">Appointments</a></li>
    <li><a href="#">OPD - Out Patient</a></li>
    <li><a href="#">IPD - In Patient</a></li>
    <li><a href="#">Pharmacy</a></li>
    <li><a href="#">Laboratory</a></li>
    <li><a href="#">Radiology</a></li>
    <li><a href="#">Blood Bank</a></li>
    <li><a href="#">Ambulance</a></li>
    <li><a href="#">Front Office</a></li>
  </ul>
</aside>

<main class="content">
  <div class="cards">

    
    <a href="">
      <div class="card">
        <div>OPD Income</div>
        <div>Kshs 120.00 </div>
      </div>
    </a>

    
    <a href=""><div class="card">
      <div>IPD Income</div>
      <div>120</div>
    </div></a>

    
    <a href="{% url 'pharmacy' %}"><div class="card">
      <div>Pharmacy</div>
      <div>25</div>
    </div></a>

    
    <a href=""><div class="card">
      <div>Laboratory Income</div>
      <div>48</div>
    </div></a>

    
    <a href=""><div class="card">
      <div>Radiology Income</div>
      <div>$12,500</div>
    </div></a>

    
    <a href=""><div class="card">
      <div>Blood Bank Income</div>

      <div>$12,500</div>
    </div></a>

    
    <a href=""><div class="card">
      <div>Ambulance Income</div>
      <div>$12,500</div>
    </div></a>

    
    <a href=""><div class="card">
      <div>General Income</div>

      <div>$12,500</div>
    </div></a>
    
    <a href=""><div class="card">
      <div>Exdivenses</div>

      <div>500</div>
    </div></a>
  </div>
</main>

{% endblock %}
