{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}

<aside class="sidebar">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Billing</a></li>
    <li><a href="#">Appointments</a></li>
    <li><a href="#">OPD - Out Patient</a></li>
    <li><a href="#">IPD - In Patient</a></li>
    <li><a href="#">Pharmacy</a></li>
    <li><a href="#">Laboratory</a></li>
    <li><a href="#">Radiology</a></li>
    <li><a href="#">Blood Bank</a></li>
    <li><a href="#">Ambulance</a></li>
    <li><a href="#">Front Office</a></li>
  </ul>
</aside>

<main class="content">
  <div class="cards">

    
    <a href=""><div class="card">
      <p>OPD Income</p>
      <p>120</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>IPD Income</p>
      <p>120</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>Pharmacy</p>
      <p>25</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>Laboratory Income</p>
      <p>48</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>Radiology Income</p>
      <p>$12,500</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>Blood Bank Income</p>

      <p>$12,500</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>Ambulance Income</p>
      <p>$12,500</p>
    </div></a>

    
    <a href=""><div class="card">
      <p>General Income</p>

      <p>$12,500</p>
    </div></a>
    
    <a href=""><div class="card">
      <p>Expenses</p>

      <p>500</p>
    </div></a>
  </div>
</main>

{% endblock %}
